.side-panel {
    height: 100%;
    position: fixed; /* Фіксоване позиціонування */
    left: 0; /* Прикріпити до нижнього краю сторінки */
    width: 25%; /* Займати всю ширину сторінки */
    background: var(--main-color); /* Фоновий колір */
    border-radius: 0 50px 50px 0;
    padding: 20px; /* Відступи для контенту */
}
