.file-input {
    display: none;
}
.button-text
{
    color: #AAFCFF;
}
.file-import{
    color: #AAFCFF;
    margin: 10px 10px 10px 0px;
}

.fileName-info{
    size: 15px;
    color: #014d5a;
    display: block;
}