<body>
    <div class="page-header d-flex">
        <app-back-button [backButtonColor]="backButtonColor"></app-back-button>
        <h1 class="header">Educational materials</h1>
        <h2 class="part-num">Part 1</h2>
    </div>
    <div class="container main-content">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <img src="assets/images/Fractal.png" class="me-3"><span class="accordion-header-text">What are fractals?</span>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="accordion-inner-text">
                            Fractals are complex geometric shapes or patterns that exhibit self-similarity at various scales.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <img src="assets\images\KochLineBlack.png" class="me-4"><span class="accordion-header-text">What is a universal closed Koch line?</span>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="accordion-inner-text">
                            A universal closed Koch line is a mathematical curve, specifically a fractal, that is a variation of the Koch snowflake, and it is known for its self-replicating and infinitely complex structure.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <img src="assets\images\ColorGama.png" class="me-3"><span class="accordion-header-text">What are the color models?</span>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="accordion-inner-text">
                            Color models define how colors can be represented in various systems, such as digital images and displays; popular color models include RGB (Red, Green, Blue), CMYK (Cyan, Magenta, Yellow, Key/Black), and HSL/HSV (Hue, Saturation, Lightness/Value).
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="next-page-block d-flex  align-items-center" routerLink="/educational-2">
        <!--<img src="assets/images/arrow-left.png" alt="back-arrow"> -->
        <p class="sidebar-text fs-2">Next Page</p>
        <fa-icon [icon]="faArrowRight" class="arrow-left-dark"></fa-icon>
    </div>
</body>
