<div class="d-flex flex-column align-items-center">
  <p class="sidebar-text mt-5 fs-2">Fractal type</p>
  <select class="form-select" aria-label="Select fractal" (change)="setType($event)">
    <option [selected]=isKoch value="1">Koch</option>
    <option value="2" >tg(z)</option>
    <option value="3" >ctg(z)</option>
  </select>
</div>
