.main-label
{
    font-size: 20px;
    color: #AAFCFF;
    height: 50px;
    padding: 10px;
    text-align: center;
}
.big-text
{
    font-size: 18px;
    color: #AAFCFF;
    height: 50px;
    padding: 5px;
}

input {
    width: 80px;
}