<div>
    <p class="main-label">Parameters of the line:</p>
    <div class="d-flex justify-content-center align-items-center flex-wrap mt-3">
        <input type="number" min="-10" max="10" class="form-control me-2" (mouseleave)="emitLineParametersValues()" [(ngModel)]="firstParam">
        <p class="my-auto"><span class="big-text me-1">x+</span></p>
        <input type="number" min="-10" max="10" class="form-control me-2" (mouseleave)="emitLineParametersValues()" [(ngModel)]="secondParam">
        <p class="my-auto"><span class="big-text me-1">y+</span></p>
        <input type="number" min="-10" max="10" class="form-control me-2" (mouseleave)="emitLineParametersValues()" [(ngModel)]="thirdParam">
        <p class="my-auto"><span class="big-text me-1">=0</span></p>
    </div>

</div>
