
:host {
  --main-color: #00758A;
  --secondary-color: #0096AB;
  --background-color: #AAFCFF;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  font-family: InknutAntiqua, sans-serif;
  margin: 0;
  padding: 0;
}

/* Додатковий CSS-код для вмісту сторінки */
.content {
  text-align: center;
  padding: 130px;
}

.main-page-text {
  font-size: 80px;
  color: var(--main-color);
}

.sub-main-page-text {
  font-size: 50px;
  color: var(--secondary-color);
}

.bottom-menu {
  height: 55%;
  position: fixed; /* Фіксоване позиціонування */
  bottom: 0; /* Прикріпити до нижнього краю сторінки */
  width: 100%; /* Займати всю ширину сторінки */
  background: linear-gradient(to bottom, #006C80, #37E1FF);; /* Фоновий колір */
  border-radius: 50px 50px 0 0;
  padding: 10px; /* Відступи для контенту */
}

.bottom-menu-block{
  border: #000 1px solid;
  border-radius: 20px;
  width: 300px;
  height: 400px;
  background-color: #006C80;
}


.side-panel {
  height: 100%;
  position: fixed; 
  left: 0; 
  width: 25%; 
  background: var(--main-color); 
  border-radius: 0 50px 50px 0;
  padding: 20px; 
}


.arrow-left-dark{
  font-size: 50px;
  color: #AAFCFF;
}

.sidebar-text
{
  color: #AAFCFF;
  height: 50px;
  padding: 10px;
}
#numOfIteration{
  width: 100px;
}
#firstRelation, #secondRelation {
  width: 100px;
}
.buttons-block
{
  height: 30px;
  bottom: 40px; 
  width: 85%;
  position: absolute;
  box-sizing: border-box;
}

.clear-button {
  background-color: var(--secondary-color);
  color: var(--background-color);
}
.create-button {
  background-color: #005362;
  color: var(--background-color);
}

.fractal-block{
  width:75%;
  height: 100%;
  position: absolute;
  left: 30%;
}

#outputFractal {
  width: 70%;
  height: 90%;
  background-color: #C0FDFF;
  border-radius: 50px;
  border: #000 1px solid;
}
