<body>
  <div class="content">
    <h1 class="main-page-text mb-5">Computer graphics project</h1>
    <h2 class="sub-main-page-text ">by Maksym Fayevskyi and Andrii Borkovych</h2>
  </div>
  <div class="bottom-menu d-flex align-items-center justify-content-center">
    <div class="row">
      <app-menu-block
        id="fractal-block" class="col flex-column d-flex  align-items-center m-5 bottom-menu-block"
        [menuTitle]="'Drawing fractals'"
        [description]="'Construction of a Koch snowflake and tg(z), ctg(z) fractals'"
        [imageSource]="'assets/images/Fractal.png'"
        routerLink="/fractals"
        routerLinkActive="active"
      />

      <app-menu-block
        id="color-scheme-block" class="col flex-column d-flex  align-items-center m-5 bottom-menu-block"
        [menuTitle]="'Use of color schemes'"
        [description]="'Use of CMYK and HSV color schemes'"
        [imageSource]="'assets/images/ColorGama.png'"
        routerLink="/colors"
        routerLinkActive="active"
      />

      <app-menu-block
        id="affine-block" class="col flex-column d-flex  align-items-center m-5 bottom-menu-block"
        [menuTitle]="'Affine transformation'"
        [description]="'Movement of an isosceles triangle'"
        [imageSource]="'assets/images/Triangle.png'"
        routerLink="/transformation"
        routerLinkActive="active"
      />
    </div>
  </div>
</body>
