<div class="figure-type-block d-flex flex-column align-items-center">
    <p class="sidebar-text mt-5 mb-2 fs-2">Figure type</p>
    <div class="d-flex justify-content-center align-items-center">
        <p class="sidebar-text fs-5">Triangle</p>
        <div class="form-check form-switch d-flex justify-content-center" style="width: 50px;">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheck" [(ngModel)]="isChecked" (change)="updateFigureType()">
        </div>
        <p class="sidebar-text fs-5">Square</p>
    </div>
</div>
