.image-block{
  width: 65%;
  height: 90%;
  position: absolute;
  left: 30%;
  top: 1%;
}

#outputImage {
  width: 100%;
  height: 100%;
  background-color: #C0FDFF;
  border-radius: 50px;
  border: #000 1px solid;
}

canvas
{
  z-index: 1;
}
