<body>
<div class="container d-flex align-items-center justify-content-center">
  <div class="row">
    <app-side-panel>
      <app-back-button></app-back-button>
      <app-vertex-input (vertexValueChanged)="canvasComponent.setVertexes($event)"></app-vertex-input>
      <app-length-altitude-input (lengthValueChanged)="canvasComponent.setAltitudeLength($event)"></app-length-altitude-input>
      <app-line-parameters-input (lineParamsChanged)="canvasComponent.setLinePoints($event)"></app-line-parameters-input>

      <div class="buttons-block d-flex align-items-center justify-content-around">
        <app-clear-button [isDisabled]="canvasComponent.isPlotEmpty" (clearSomethingEvent)="canvasComponent.clear()"></app-clear-button>
        <app-create-button (createSomethingEvent)="canvasComponent.draw()"></app-create-button>
      </div>
    </app-side-panel>
  </div>
  <div class="col d-flex align-items-center justify-content-center">
    <app-transformation-canvas #canvasComponent></app-transformation-canvas>
    <app-educational-materials-button routerLink="/educational-2"></app-educational-materials-button>
  </div>

</div>
</body>
