.sidebar-text
{
  /* color: #AAFCFF; */
  height: 50px;
  padding: 10px;
  text-decoration: underline;
}
.home-page-block{
  height: 60px;
}
.arrow-left-dark{
  font-size: 50px;
  /* color: #AAFCFF; */
}
img{
  height: 50px;
}
