<div class="home-page-block d-flex  align-items-center" routerLink="/">
  <!--<img src="assets/images/arrow-left.png" alt="back-arrow"> -->
  <fa-icon [icon]="faArrowLeft" class="arrow-left-dark" [style.color]="backButtonColor"></fa-icon>
  <p class="sidebar-text fs-2" [style.color]="backButtonColor">Home Page</p>
</div>
