:host {
  --main-color: #00758A;
  --secondary-color: #0096AB;
  --background-color: #AAFCFF;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  font-family: InknutAntiqua, sans-serif;
  margin: 0;
  padding: 0;
}

.buttons-block
{
  height: 30px;
  bottom: 40px; /* Прикріпити до нижнього краю сторінки */
  width: 85%;
  position: absolute;
  box-sizing: border-box;
}
