<body>
  <div class="container d-flex align-items-center justify-content-center">
    <div class="row">
      <app-side-panel>
        <app-back-button></app-back-button>
        <app-choose-image-button (imageChangedEvent)="coloredCanvas.setImage($event)"></app-choose-image-button>
        <app-fragment-section-input (inputChanged)="coloredCanvas.setFragment($event)"></app-fragment-section-input>
        <div class="buttons-block d-flex align-items-center justify-content-around">
          <app-save-button [isDisabled]="coloredCanvas.isCanvasEmpty" (saveEvent)="coloredCanvas.saveAsImage()"></app-save-button>
          <app-clear-button [isDisabled]="coloredCanvas.isCanvasEmpty" (clearSomethingEvent)="coloredCanvas.clear()"></app-clear-button>
        </div>
        <app-saturation-slider (valueChangedEvent)="coloredCanvas.setSaturation($event)"></app-saturation-slider>
        <app-color-schemes-output></app-color-schemes-output>
      </app-side-panel>
      <div class="col d-flex align-items-center justify-content-center">
        <app-colored-canvas #coloredCanvas></app-colored-canvas>
        <app-educational-materials-button routerLink="/educational-1"></app-educational-materials-button>
      </div>
    </div>
  </div>
</body>
