.axe-block {
  width: 65%;
  height: 90%;
  position: absolute;
  left: 30%;
  top: 1%;
}

.axe-inner-block {
  width: 100%;
  height: 100%;
  background-color: #C0FDFF;
  border-radius: 50px;
  border: #000 1px solid;
}

#outputAxe{
  width: 90%;
  height: 90%;
}
