<div>
  <img class="mt-4 mb-4 me-auto ms-auto d-block" ngSrc="{{imageSource}}" alt="Fractal" width="150" height="150">
  <h3 class="block-name text-center mb-3 fs-2 dark">{{menuTitle}}</h3>
  <p class="text-center fs-4">{{description}}</p>
</div>
