<body>
    <div class="page-header d-flex">
        <app-back-button [backButtonColor]="backButtonColor"></app-back-button>
        <h1 class="header">Educational materials</h1>
        <h2 class="part-num">Part 2</h2>
    </div>
    <div class="container main-content">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <img src="assets/images/smyk.png" class="me-3"><span class="accordion-header-text">What is the CMYK model?</span>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="accordion-inner-text">
                            The CMYK model, short for Cyan, Magenta, Yellow, Key/Black, is a subtractive color model used primarily in color printing and describes how different ink colors can be combined to create a wide range of colors by subtracting colors from white light.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <img src="assets\images\color-circle.png" class="me-4"><span class="accordion-header-text">What is the HSV model?</span>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="accordion-inner-text">
                            The HSV model, or Hue, Saturation, Value model, is a color representation system that defines colors based on three components: hue (the type of color), saturation (the intensity or purity of the color), and value (the brightness or darkness of the color).
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <img src="assets\images\Triangle.png" class="me-3 p-2"><span class="accordion-header-text">How to perform the movement of an isosceles triangle?</span>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="accordion-inner-text">
                            To implement the movement of an isosceles triangle, you must first determine the coordinates of the three vertices of the triangle. After that, for each point of the triangle, it is necessary to calculate its mirror image relative to a straight line, using formulas for mapping a point relative to a straight line. By repeating this process for all points of the triangle, you can create an animation of the movement of the triangle along the specified line.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="previous-page-block d-flex  align-items-center" routerLink="/educational-1">
        <fa-icon [icon]="faArrowLeft" class="arrow-left-dark"></fa-icon>
        <p class="sidebar-text fs-2">Previous Page</p>
    </div>
</body>
