/* Глобальні змінні */
:host {
    --main-color: #00758A;
    --secondary-color: #0096AB;
    --background-color: #AAFCFF;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    font-family: InknutAntiqua, sans-serif;
    margin: 0;
    padding: 0;
}


.page-header {
    background-color: var(--background-color);
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center; 
}

.app-back-button {
    top: 0;
    left: 0;
    color: #000;
}

.part-num{
    color: var(--main-color);
    top: 12px;
    right: 0;
    height: 60px;
    width: 230px;
    margin:20px auto;
    line-height: 60px;
}

.header {
    font-size: 55px;
    color: var(--main-color);
    margin: 0 auto;
    text-align: center;
    flex-grow: 1; /* Змінено на flex-grow: 1 */
}

.main-content{
    height: 815px;
    margin-bottom: 0;
}

img{
    height: 90px;
}

.accordion-header-text{
    font-size: 30px;
}
.accordion-item{
    background-color: #0096AB;;
}

.accordion-button{
    background-color: #00758A;;
}

.accordion-inner-text{
    font-size: 30px;
    color: #005362;
}

.sidebar-text{
    color: #00758A;
    height: 50px;
    padding: 10px;
}

.previous-page-block{
    height: 60px;
    width: 350px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
    margin-bottom: 20px;
    margin-left: 50px;
}

.arrow-left-dark{
    font-size: 50px;
    color: #00758A;
}