<body>
  <div class="container d-flex align-items-center justify-content-center">
    <div class="row">
        <app-side-panel>
          <app-back-button></app-back-button>
          <app-fractal-type-selector #fractalType></app-fractal-type-selector>
          <app-figure-type-switch *ngIf="fractalType.isKoch"></app-figure-type-switch>

          <app-iterations-input (iterationValueChangedEvent)="onIterationValueChange($event)"></app-iterations-input>
          <app-relation-input *ngIf="fractalType.isKoch" (relationValueChangedEvent)="onRelationValueChange($event)"></app-relation-input>

          <div class="buttons-block d-flex align-items-center justify-content-around">
            <app-clear-button [isDisabled] = fractalCanvas.isCanvasEmpty (clearSomethingEvent)="fractalCanvas.clear()"></app-clear-button>
            <app-create-button (createSomethingEvent)="fractalCanvas.draw()"></app-create-button>
            <app-save-button [isDisabled] = fractalCanvas.isCanvasEmpty (saveEvent)="fractalCanvas.saveAsImage()"></app-save-button>
          </div>
        </app-side-panel>
        <div class="col d-flex align-items-center justify-content-center">
          <app-canvas-drawing #fractalCanvas [iterations]="iterations" [relation]="relation"></app-canvas-drawing>
          <app-educational-materials-button routerLink="/educational-1" ></app-educational-materials-button>
        </div>
    </div>
  </div>
</body>
