:host {
  --main-color: #00758A;
  --secondary-color: #0096AB;
  --background-color: #AAFCFF;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  font-family: InknutAntiqua, sans-serif;
  margin: 0;
  padding: 0;
}

.sidebar-text
{
  color: #AAFCFF;
  height: 50px;
  padding: 10px;
}

.fractal-block{
  width:75%;
  height: 100%;
  position: absolute;
  left: 30%;
}

#outputFractal {
  width: 70%;
  height: 90%;
  background-color: #C0FDFF;
  border-radius: 50px;
  border: #000 1px solid;
}

.buttons-block
{
  height: 30px;
  bottom: 40px; /* Прикріпити до нижнього краю сторінки */
  width: 85%;
  position: absolute;
  box-sizing: border-box;
}




