<div>
    <p class="main-label">Parameters of the base:</p>
    <p class="submain-text">First vertex:</p>
    <div class="d-flex justify-content-center align-items-center">
        <p class="my-auto "><span class="big-text me-1">X</span><span class="small-number me-3">1</span></p>
        <input type="number" min="-10" max="10" class="form-control me-4" id="firstX" (mouseleave)="emitVertexValues()" [(ngModel)]="firstX">
        <p class="my-auto"><span class="big-text me-1">Y</span><span class="small-number me-3">2</span></p>
        <input type="number" min="-10" max="10" class="form-control" id="firxtY" (mouseleave)="emitVertexValues()" [(ngModel)]="firstY">
    </div>
    <p class="submain-text">Second vertex:</p>
    <div class="d-flex justify-content-center align-items-center">
        <p class="my-auto"><span class="big-text me-1">X</span><span class="small-number me-3">1</span></p>
        <input type="number" min="-10" max="10" class="form-control me-4" id="secondX" (mouseleave)="emitVertexValues()" [(ngModel)]="secondX">
        <p class="my-auto"><span class="big-text me-1">Y</span><span class="small-number me-3">2</span></p>
        <input type="number" min="-10" max="10" class="form-control" id="secondY" (mouseleave)="emitVertexValues()" [(ngModel)]="secondY">
    </div>
</div>
