.main-label
{
    font-size: 25px;
    color: #AAFCFF;
    height: 50px;
    padding: 10px;
    text-align: center;
}

.submain-text
{
    font-size: 20px;
    color: #AAFCFF;
    height: 50px;
    padding: 10px;
    text-align: center;
}

.big-text
{
    font-size: 20px;
    color: #AAFCFF;
    height: 50px;
    padding: 5px;
}
.small-number
{
    font-size: 15px;
    color: #AAFCFF;
    height: 30px;
}

input {
    width: 80px;
}
