<div>
    <p class="main-label">Fragment:</p>
    <div class="d-flex justify-content-center align-items-center mb-3">
        <p class="my-auto "><span class="big-text me-1">X</span></p>
        <input type="number" min="0" max="900" class="form-control me-4" (input)="emitFragmentValues()" [(ngModel)]="X">
        <p class="my-auto"><span class="big-text me-1">Y</span></p>
        <input type="number" min="0" max="600" class="form-control" (input)="emitFragmentValues()" [(ngModel)]="Y">
    </div>
    <div class="d-flex justify-content-center align-items-center mb-3">
        <p class="my-auto"><span class="big-text me-1">Height</span></p>
        <input type="number" min="0" max="900" class="form-control me-4" (input)="emitFragmentValues()" [(ngModel)]="Height">
        <p class="my-auto"><span class="big-text me-1">Width</span></p>
        <input type="number" min="0" max="600" class="form-control" (input)="emitFragmentValues()" [(ngModel)]="Width">
    </div>
</div>
