.sidebar-text
{
  color: #0096AB;
  height: 50px;
  padding: 10px;

}
.educational-materials-block{
  height: 60px;
  width: 500px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 2;
  margin-bottom: 20px;
  margin-right: 50px;
}

img{
  height: 50px;
}