<div class="relation-block d-flex flex-column align-items-center">
    <p class="sidebar-text mt-3 mb-2 fs-2">Relation</p>
    <div class="d-flex justify-content-center align-items-center">
        <input type="number" min="1" class="form-control" id="firstRelation" (mouseleave)="emitRelationValues()" [(ngModel)]="numberOfFirstRelation">
        <p class="sidebar-text fs-5"> : </p>
        <input type="number" min="1" class="form-control" id="secondRelation" (mouseleave)="emitRelationValues()" [(ngModel)]="numberOfSecondRelation">
    </div>
</div>
